[Unit]
Description=SteamController Userland driver

[Service]
Type=forking
PIDFile=/tmp/steamcontroller0.pid
ExecStart=/usr/bin/sc-mixed.py -i0 start
ExecReload=/usr/bin/sc-mixed.py -i0 restart
ExecStop=/usr/bin/sc-mixed.py -i0 stop

[Install]
WantedBy=multi-user.target
